<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>The HTML5 Herald</title>
  <meta name="description" content="Unnecessary about page for darkest dungeon team builder">
  <meta name="author" content="Kevin Conyers">

  <link rel="stylesheet" href="css/style.css">

</head>

<body>
	<p> This is a team builder for Darkest Dungeon, currently focused on PVP. We have just launched the beta, and will be implementing new features soon.  </p>
</body>
</html>
