<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
		<title>Test</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="preview_pane">
			<div class="generic_row">
			<div id="team_title" class="title"> The Usual Suspects </div>
			</div>
            <div class="hero_row">
            <div class="hero_gallery">
				<img id="hero4" src="/images/heroes/vestal_roster.png" alt="Position Four" width="96" height="96">
			</div>
			<div class="hero_gallery">
				<img id="hero3" src="/images/heroes/plague_doctor_roster.png" alt="Position Three" width="96" height="96">
			</div>
			<div class="hero_gallery">
				<img id="hero2" src="/images/heroes/highwayman_roster.png" alt="Position Two" width="96" height="96">
			</div>
			<div class="hero_gallery">
				<img id="hero1" src="/images/heroes/crusader_roster.png" alt="Position One" width="96" height="96">
            </div>
            </div>
            <div class="ability_row">
				<div class="ability_gallery" id="position4_abilities">
					<div class="ability_gallery_item"><img id="Hero1Ab1" src="/images/abilities/vestal/divine_grace.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab2" src="/images/abilities/vestal/divine_comfort.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab3" src="/images/abilities/vestal/judgement.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab4" src="/images/abilities/vestal/mace_bash.png" alt="Ability One" width="96" height="96"></div>
				</div>
				<div class="ability_gallery" id="position3_abilities">
					<div class="ability_gallery_item"><img id="Hero3Ab1" src="/images/abilities/plague_doctor/plague_grenade.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero3Ab2" src="/images/abilities/plague_doctor/blinding_gas.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero3Ab3" src="/images/abilities/plague_doctor/noxious_blast.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero3Ab4" src="/images/abilities/plague_doctor/battlefield_medicine.png" alt="Ability One" width="96" height="96"></div>
				</div>
				<div class="ability_gallery" id="position2_abilities">
					<div class="ability_gallery_item"><img id="Hero2Ab1" src="/images/abilities/highwayman/duelist_advance.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero2Ab2" src="/images/abilities/highwayman/wicked_slice.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero2Ab3" src="/images/abilities/highwayman/open_vein.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero2Ab4" src="/images/abilities/highwayman/tracking_shot.png" alt="Ability One" width="96" height="96"></div>
				</div>
				<div class="ability_gallery" id="position1_abilities">
					<div class="ability_gallery_item"><img id="Hero1Ab1" src="/images/abilities/crusader/smite.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab2" src="/images/abilities/crusader/bulwark_of_faith.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab3" src="/images/abilities/crusader/inspiring_cry.png" alt="Ability One" width="96" height="96"></div>
					<div class="ability_gallery_item"><img id="Hero1Ab4" src="/images/abilities/crusader/battle_heal.png" alt="Ability One" width="96" height="96"></div>
				</div>
			</div>
		</div>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/scripts/image_preview.js"></script>
</html>