<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Test</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
	</head>
	<body>
		<div class="hero_form">
			<div class="gallery">
				<img id="Hero4" src="/images/heroes/vestal_roster.png" alt="Position Four" width="96" height="96">
			</div>
			<div class="gallery">
				<img id="Hero3" src="/images/heroes/plague_doctor_roster.png" alt="Position Three" width="96" height="96">
			</div>
			<div class="gallery">
				<img id="Hero2" src="/images/heroes/highwayman_roster.png" alt="Position Two" width="96" height="96">
			</div>
			<div class="gallery">
				<img id="Hero1" src="/images/heroes/crusader_roster.png" alt="Position One" width="96" height="96">
			</div>
			<br></br>
		</div>
		<form class="hero_form" action="/" method="post">
			<select class="hero_select" name="hero4" id="hero4_select"></select>
			<select class="hero_select" name="hero3" id="hero3_select"></select>
			<select class="hero_select" name="hero2" id="hero2_select"></select>
			<select class="hero_select" name="hero1" id="hero1_select"></select>
			<br></br>
			<div class="ability_pane">
				<div class="ability_pane" id="abil4">
					<select class="ability_select" name="h4a1" id="hero4_ability1"></select>
					<select class="ability_select" name="h4a2" id="hero4_ability2"></select>
					<select class="ability_select" name="h4a3" id="hero4_ability3"></select>
					<select class="ability_select" name="h4a4" id="hero4_ability4"></select>
				</div>
			</div>
			<div class="ability_pane">
				<div class="ability_pane" id="abil3">
					<select class="ability_select" name="h3a1" id="hero3_ability1"></select>
					<select class="ability_select" name="h3a2" id="hero3_ability2"></select>
					<select class="ability_select" name="h3a3" id="hero3_ability3"></select>
					<select class="ability_select" name="h3a4" id="hero3_ability4"></select>
				</div>
			</div>
			<div class="ability_pane">
				<div class="ability_pane" id="abil2">
					<select class="ability_select" name="h2a1" id="hero2_ability1"></select>
					<select class="ability_select" name="h2a2" id="hero2_ability2"></select>
					<select class="ability_select" name="h2a3" id="hero2_ability3"></select>
					<select class="ability_select" name="h2a4" id="hero2_ability4"></select>
				</div>
			</div>
			<div class="ability_pane">
				<div class="ability_pane" id="abil1">
				</div>
			</div>
			<br></br>
			<input type="submit" class="ghost-button" value="Generate Preview">
		</form>
	</body>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
	<script src="/scripts/form.js"></script>
</html>
