<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/css/support.css">
</head>
	<%- include('static_components/nav.html'); %>
<body>
	If you would like to support this project there are a few ways you can

	<h2> Contributing time </h2>

	I am an Embedded Software Engineer, as such web development is not really in my wheel house, making things look pretty is hard for me. If you have design skills, or CSS skills and would like to help I would love to have you. On a similiar note if you happend to be a web developer yourself and see issues for security/bugs/etc that I am unaware you, I would like to know. 
	The code is stored <a href="https://github.com/KevinGConyers/darkest-team"> here </a>

	<h2> Providing Feedback </h2>

	I am looking for feedback on improvements or features, please use my email to contact me.

	<h2> Contributing money </h2>
	
	This site is free to use and always will be, however, hosting is not. If this tool was helpful to you, or you would like to see additional features
	please considering donating, I have a paypal <a href-"paypal.me/ShockTohp ">here</a>, and accept crypto (please contact me via email if you would like to use that option).

	<h2> Spreading the word </h2>

	Letting other people know always helps any project

	 <ul class="footer">
		 <li class="footer_element"><%- include('static_components/contact.html'); %></li>
			 </ul>
   
</body>
</html>
