/*
  Styles from this codepen:
  https://codepen.io/official_naveen/pen/rgknI
*/
ul.nav {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.nav li {
  float: left;
}

ul.nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
ul.nav li a:hover {
  background-color: #111;
}



body {
  width: 800px;
  margin: 0 auto;
  font-family: 'Open Sans', sans-serif;
}
.container {
  margin: 0 auto;
}
fieldset {
  display: block;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-before: 0em;
  -webkit-padding-start: 0em;
  -webkit-padding-end: 0em;
  -webkit-padding-after: 0em;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  min-width: -webkit-min-content;
  padding: 30px;
}
.ghost-input, p {
  display: block;
  font-weight:300;
  width: 100%;
  font-size: 25px;
  border:0px;
  outline: none;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #4b545f;
  background: #fff;
  font-family: Open Sans,Verdana;
  padding: 10px 15px;
  margin: 30px 0px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-input:focus {
  border-bottom:1px solid #ddd;
}
.ghost-button {
  background-color: transparent;
  border:2px solid #ddd;
  padding:10px 30px;
  width: 100%;
  min-width: 350px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.ghost-button:hover {
  border:2px solid #515151;
}
p {
  color: #E64A19;
}
div.hero_gallery {
  border: 5px solid #ccc;
  margin: 5px;
  float: left;
  width: 128px;
  height: 128px;
}
div.hero_gallery img {
	width: 100%;
	height: auto;
}

div.ability_gallery {
  display: inline-grid;
  grid-template-columns: auto auto;
  background-color: #2196F3;
  margin: 10px;
  float: left;
  width: 128px;
  height: 128px;
}

div.ability_gallery_item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  
}
div.ability_gallery_item img {
  width: 99%;
  height: 100%;
  
}

div.portrait {
	width: 128px;
	height: auto;	
	float: left;
}

form.hero_form {
  border: 5px solid #ccc;
	width: 600px;
	height: auto;
	float: left;
}

select.hero_select {
  border: 5px solid #ccc;
  margin: 10px;
  float: left;
  width: 128px;
  height: auto;
  background-color: transparent;
  min-width: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.ability_pane {
 border: 5px solid #E64A19; 
  margin: 5px;
  float: left;
  width: 128px;
  height: auto;
  background-color: transparent;
  min-width: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.ability_pane_c {
  border: 5px solid #2196F3; 
   margin: 5px;
   float: left;
   width: 128px;
   height: auto;
 }

div.hero_row {
  border: 5px solid #000;
  margin: 10px;
  float: left;
  width: 600px;
  height: auto;
  background-color: transparent;
  min-width: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.ability_row {
  border: 5px solid #E64A19;
  margin: 10px;
  float: left;
  width: 600px;
  height: auto;
  background-color: transparent;
  min-width: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

div.title {
  border: 5px solid #555;
  margin: 10px;
  text-align: center;
  width: auto;
}


ul.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  font-size: 0.7em;
  color: white;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;

}

ul.footer li {
  float: left;
  
  width: 50%;
}





